{{ partial "head.html" . }}
  <body>
    <div id="blog">
      {{ partial "header.html" . }}
      {{ partial "sidebar.html" . }}
      {{ partial "post/header-cover.html" . }}
      <div id="main" data-behavior="{{ .Scratch.Get "sidebarBehavior" }}"
        class="{{ with .Params.coverimage }}hasCover{{ end }}
               {{ if eq .Params.covermeta "out" }}hasCoverMetaOut{{ else }}hasCoverMetaIn{{ end }}
               {{ with .Params.coverCaption }}hasCoverCaption{{ end }}">
        <article class="post" itemscope itemType="http://schema.org/BlogPosting">
          {{ with .Params.covercaption }}
            <span class="post-header-cover-caption caption">{{ . | markdownify }}</span>
          {{ end }}
          {{ if or (not .Params.coverimage) (eq .Params.covermeta "out") }}
            {{ partial "post/header.html" . }}
          {{ end }}
          <div class="post-content markdown" itemprop="articleBody">
            <div class="main-content-wrap">
              {{ (replaceRE "<!--\\s*[t|T][o|O][c|C]\\s*-->" (printf "<h1 id=\"table-of-contents\">%s</h1>%s" (i18n "post.toc") .TableOfContents) .Content) | safeHTML }}
              {{ partial "post/gallery.html" . }}
            </div>
          </div>
          <div id="post-footer" class="post-footer main-content-wrap">
            {{ if (not (eq .Params.showTags false)) }}
              {{ with .Params.tags }}
                {{ $tagsLength := len . }}
                {{ if gt $tagsLength 0 }}
                  <div class="post-footer-tags">
                    <span class="text-color-light text-small">{{ i18n "post.tagged_in" }}</span><br/>
                    {{ partial "post/tag.html" $ }}
                  </div>
                {{ end }}
              {{ end }}
            {{ end }}
            {{ partial "post/actions.html" . }}
            <div id="gitalk-container"></div>
            </div>
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
            <script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
            <script type="text/javascript">
                  var gitalk = new Gitalk({
                    id: '{{ .Date }}',
                    title: '{{ .Title }}',
                    clientID: '3a3b190b1de92a4f6922',
                    clientSecret: '19f7856d5352fd8ae126ac92a43ac7897fb9a4e3',
                    repo: 'blog-comment',
                    owner: 'xumi1993',
                    admin: ['xumi1993'],
                    body: decodeURI(location.href),
                  });
                  gitalk.render('gitalk-container');
            </script>
            
          </div>
        </article>
        {{ partial "footer.html" . }}
      </div>
      <div id="bottom-bar" class="post-bottom-bar" data-behavior="{{ .Scratch.Get "sidebarBehavior" }}">
        {{ partial "post/actions.html" . }}
      </div>
      {{ partial "post/share-options.html" . }}
      
    </div>
{{ partial "foot.html" . }}

